.about {
    min-height: 100vh;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 60px;
    max-width: 1280px;
    padding: 15px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, auto);
    align-items: center;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    img {
        height: 310px;
        border-radius: 40px;
        pointer-events: none;
        user-select: none;
        box-shadow: 3px 3px 6px 1px rgba(0, 0, 0, 0.25);
    }
}

.text {
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.bullets {
    align-self: start;
    display: grid;
    grid-auto-flow: column;
    align-items: start;
    justify-items: center;
    width: 100%;

    li {
        width: 200px;

        svg {
            width: 100px;
            height: 100px;
        }
    }
}

@media screen and (max-width: 970px) {
    .content {
        gap: 30px;
    }

    .info {
        flex-direction: column;
        gap: 30px;
    }

    .text {
        font-size: 1.4em;
        gap: 10px;
        text-align: center;
    }

    .bullets {
        grid-auto-flow: unset;
        grid-template-columns: repeat(auto-fill, minmax(200px, max-content));
        justify-content: center;
        gap: 20px;
    }
}

@media screen and (max-width: 640px) {
    .info {
        img {
            height: 250px;
        }
    }

    .bullets {
        grid-template-columns: repeat(auto-fill, minmax(150px, max-content));

        li {
            width: 150px;

            svg {
                width: 80px;
                height: 80px;
            }
        }
    }
}
