@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;

.navbar {
  position: sticky;
  top: 0;
  height: 70px;
  padding: 5px 0 0 0;
  z-index: 5;
}

.wrapper {
  @include mix.blurLight;
  border-radius: 10px;
  box-shadow: var(--shadow);
  width: 100%;
  height: 100%;
  padding: 0 15px;
}

.items {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;

  img {
    width: 50px;
  }
}

.list {
  display: none;
  align-items: center;
  flex-grow: 1;
  justify-content: space-around;

  @media (min-width: vars.$md) {
    display: flex;
  }
}

.link {
  transition: color 150ms ease;
  &:hover {
    color: rgb(var(--accent));
  }
}

.controls {
  display: flex;
  gap: 40px;
}
