.button {
  width: max-content;
  height: max-content;
  padding: 10px 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;

  &:active {
    opacity: 0.95;
    scale: 0.999;
  }

  svg {
    flex-shrink: 0;
  }
}
