@use '@/styles/mixins' as mix;

.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: space-between;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.button {
  @include mix.btnFilledContrast;
  width: 100%;
}
