.form {
    display: grid;
    gap: 10px;

    button {
        min-width: 120px;
        max-width: 150px;
        height: 50px;
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}