.contacts {
    min-height: 70vh;
    width: 100vw;
    max-width: 100%;
    background: #333452;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;

    h1 {
        font-family: RalewayBold;
        font-size: 40px;
        color: #e73680;
        margin-top: 70px;
    }

    p {
        color: #61f4de;
        font-family: RalewaySemiBold;
        font-size: 18px;
    }

    form {
        margin-bottom: 70px;
        min-width: 500px;
    }
}

@media screen and  (max-width: 640px) {
    .contacts {
        form {
            min-width: unset;
            width: 100%;
        }
    }
}