.wrapper {
  display: flex;
  flex-direction: column;

  span {
    color: rgb(var(--accent));
    font-size: 14px;
    height: 22px;
  }

  textarea {
    resize: none;
    height: unset;
  }
}

.input {
  background: rgb(var(--primary));
  border: none;
  padding: 5px 15px;
  border-radius: 8px;
  transition: all 0.5s linear;
  height: 50px;

  &:focus {
    outline: none;
  }
}

.error {
  background: rgba(var(--accent), 0.1);
}
