.card {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  span {
    font-size: 20px;
  }
}

.icon {
  box-shadow: var(--shadow);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  background: rgb(var(--secondary));
  padding: 35px;
}
