.wrapper {
    display: flex;
    flex-direction: column;
    gap: 3px;
    span {
        font-size: 13px;
        color: #e64646;
    }
}

.input {
    height: 150px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
    background: #1f2041;
    color: white;

    &:focus {
        outline: none;
    }
}

.error {
    border: 1px solid #e64646;
    background: rgba(230, 70, 70, 0.03);
}
