@font-face {
  font-family: 'Raleway';
  src: url('@/assets/fonts/Raleway-Regular.ttf');
  font-weight: 400;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('@/assets/fonts/Raleway-Medium.ttf');
  font-weight: 500;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('@/assets/fonts/Raleway-SemiBold.ttf');
  font-weight: 600;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('@/assets/fonts/Raleway-Bold.ttf');
  font-weight: 700;
  font-size: normal;
  font-display: swap;
}
