@use '@/styles/variables' as vars;

@mixin btnFilled {
  background: rgb(var(--primary));
  border-radius: 10px;
  color: rgb(var(--contrast));
}

@mixin btnFilledContrast {
  background: rgb(var(--contrast));
  border-radius: 10px;
  color: rgb(var(--primary));
}

@mixin blurLight {
  background-color: rgba(255, 250, 227, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
