@use './reset';
@use './fonts';
@use './globals';
@use './theme-transitions';

:root {
  font-family: 'Raleway', sans-serif;
  color: rgb(var(--contrast));
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: rgb(var(--primary));
}
