@use '@/styles/variables' as vars;

.about {
  display: flex;
  flex-direction: column;
  gap: 20px;

  img {
    max-width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    pointer-events: none;
    user-select: none;
    box-shadow: var(--shadow);

    @media (min-width: vars.$md) {
      height: 500px;
      width: auto;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  @media (min-width: vars.$md) {
    flex-direction: row;
    align-items: unset;
  }
}

.text {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
