@use '@/styles/variables' as vars;

.carousel {
  display: grid;
  z-index: 0;
  
  :global {
    .swiper {
      max-width: 100%;
    }

    .swiper-wrapper {
      transition-timing-function: linear !important;
    }

    .swiper-free-mode > .swiper-wrapper {
      transition-timing-function: linear !important;
    }

    .swiper-slide {
      width: 100px;

      @media (min-width: vars.$md) {
        width: 120px;
      }
    }
  }
}
