.bullet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 200px;

    svg {
        width: 100px;
        height: 100px;
        fill: #5688C7;
    }

    p {
        text-align: center;
    }
}
