.bullet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    svg {
        fill: #5688c7;
        transition: fill 200ms linear;
    }

    p {
        text-align: center;
    }

    &:hover {
        svg {
            fill: tomato;
        }
    }
}
