@use '@/styles/mixins' as mix;

@mixin image {
  img {
    height: 20px;
    width: auto;
  }
}

.content {
  @include mix.blurLight;
  border-radius: 10px;
  padding: 8px 10px;
  position: absolute;
  right: -15px;
  min-width: max-content;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  box-shadow: var(--shadow);

  &[data-state='open'] {
    animation: slideIn 0.15s ease-out;
  }
  &[data-state='closed'] {
    animation: slideOut 0.1s ease-out;
  }
}

.item {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  @include image();
  outline: none;
  border-radius: 5px;
  transition: background 200ms ease;

  &:hover {
    background: var(--bg);
  }

  &[data-disabled] {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.trigger {
  @include image();
  outline: none;
  flex-shrink: 0;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(-20px) scale(0.98);
  }
}
