.wrapper {
    display: grid;
    gap: 10px;
    place-items: center;
    span {
        color: #61f4de;
        user-select: none;
    }
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: #333452;
    transition: background 150ms linear;    

    &:hover {
        background: #3F3F64;
    }

    svg {
        width: 40px;
        height: 40px;
    }
}
