.navbar {
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: 100vw;
    max-width: 100%;
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);

    ul {
        padding-left: 200px;
        display: flex;
        align-items: center;
        gap: 100px;
        height: 60px;
    }
}

.link {
    cursor: pointer;
    font-size: 18px;
    font-family: RalewayBold;
    transition: color 150ms linear;
    user-select: none;

    &:hover {
        color: #e73680;
    }
}

.active {
    color: #e73680;
}

@media screen and (max-width: 970px) {
    .navbar {
        ul {
            padding: {
                left: 20px;
                right: 20px;
            }
            justify-content: center;
        }
    }
}

@media screen and (max-width: 640px) {
    .navbar {
        ul {
            gap: 80px;
        }
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        ul {
           gap: unset;
           justify-content: space-between;
        }
    }
}