.footer {
    width: 100vw;
    max-width: 100%;
    background: #1f2041;
    padding: {
        top: 20px;
        left: 15px;
        right: 15px;
        bottom: 50px;
    }
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 40px;
}

.socials {
    display: flex;
    gap: 20px;
}

.test {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: white;
}

.note {
    color: #c0c0c0;
    font-size: 14px;

    span {
        color: #e73680;
    }
}
