.button {
    border-radius: 10px;
    border: none;
    background: #e73680;
    cursor: pointer;
    user-select: none;
    opacity: 0.9;
    transition: all 150ms linear ;

    &:hover {
        opacity: 1;
        scale: 1.05;
    }

    svg {
        fill: white;
    }
}
