@use '@/styles/variables' as vars;
@use '@/styles/mixins' as mix;

.footer {
  background: rgb(var(--contrast));
  width: 100%;
  color: rgb(var(--primary));
  padding: 100px 15px 15px 15px;
  display: flex;
  justify-content: center;
  position: relative;
  font-size: 20px;
}

.content {
  max-width: vars.$xl;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;

  p {
    font-size: 16px;
    white-space: pre-line;
  }
}

.socials {
  display: flex;
  gap: 40px;
  flex-direction: column;

  @media (min-width: vars.$md) {
    flex-direction: row;
    gap: 80px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.copyright {
  text-align: center;
  font-size: 14px;
}

.button {
  @include mix.btnFilled;
  svg {
    fill: rgb(var(--contrast));
    transform: rotate(270deg);
  }
}

.logo {
  position: absolute;
  display: none;
  width: 200px;
  right: 15px;
  bottom: 15px;
  pointer-events: none;

  @media (min-width: vars.$lg) {
    display: block;
  }
}
